[Unit]
Description=lighthouse beacon node
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1

ExecStart={{ eth_root }}/bin/lighthouse.sh

[Install]
WantedBy=default.target
